@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: radial-gradient(circle at top left, rgba(214, 245, 210, 0.8) 5%, rgba(255, 238, 173, 0.8) 25%, rgba(244, 210, 245, 0.8) 50%);
  color: #f5f5f5;
  position: relative;
  overflow: hidden;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at top left, rgba(81, 81, 91, 1) 0%, rgba(34, 34, 34, 1) 100%);
  /* background: radial-gradient(circle at top left, rgba(214, 245, 210, 0.8) 0%, rgba(255, 238, 173, 0.8) 5%, rgba(244, 210, 245, 0.8) 15%,rgba(51, 51, 51, 1) 25%, rgba(34, 34, 34, 1) 100%); */
  background-size: 150%;
  filter: blur(0);
  transition: filter 0.5s;
}
  
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  position: relative;
  z-index: 2;
}

h1 {
  font-size: 3.5rem;
}

.motion-text {
    background-image: radial-gradient(circle at top left, rgba(214, 245, 210, 0.8) 5%, rgba(255, 238, 173, 0.8) 25%, rgba(244, 210, 245, 0.8) 50%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    letter-spacing: 1rem;
    animation: moving-gradient 5s ease infinite;
  }
  

.motion-text:hover {
    letter-spacing: 0.5rem !important;
}

p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.text-container {
    width: 80%;
    max-width: 800px;
    text-align: left;
    display: inline-block;
}

.textarea-container {
    width: 80%;
    max-width: 800px;
    opacity: 0;
    position: relative;
    display: inline-block;
}

.textarea-button {
    position: absolute;
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: transparent;
    color: #f5f5f5;
    border: solid #f5f5f5 1px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 0;
  }

  #file-input-label {
    top: 15px;
    right: 15px;
    border-radius: 4px 8px 8px 4px;
  }
  
  #file-input {
    display: none;
  }

  #audio-toggle {
    top: 15px;
    right: 55px;
    background-color: rgba(245, 245, 245, 0.3);
    border-radius: 8px 4px 4px 8px;
  }

textarea {
  width: 100%;
  min-height: 150px;
  padding: 1rem;
  font-size: 1rem;
  background-color: #333;
  border: solid #f5f5f5 2px;
  border-radius: 12px;
  resize: none;
  color: #f5f5f5;
  font-family: 'Courier Prime', monospace;
  margin-bottom: 1.5rem;
}

textarea:hover {
    border-radius: 16px;
    background-color: #4443;
}

label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: block;
}

input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    max-width: 600px;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-image: radial-gradient(circle at top left, rgba(214, 245, 210, 0.6) 5%, rgba(255, 238, 173, 0.6) 25%, rgba(244, 210, 245, 0.6) 50%);
    outline: none;
  }

  input[type=range]:hover {
    background-image: radial-gradient(circle at top left, rgba(214, 245, 210, 0.8) 5%, rgba(255, 238, 173, 0.8) 25%, rgba(244, 210, 245, 0.8) 50%);
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #333;
    border: 2px solid #fff;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  input[type=range]:active {
    background-image: radial-gradient(circle at top left, rgba(214, 245, 210, 1) 5%, rgba(255, 238, 173, 1) 25%, rgba(244, 210, 245, 1) 50%);
  }

.controls {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

button, input, select {
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 1rem;
  font-family: 'Roboto', sans-serif !important;
  background-color: transparent;
  color: #f5f5f5;
  border: solid #f5f5f5 1px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#play {
    border-radius: 8px 4px 4px 8px;
}

#pause {
    border-radius: 4px;
}

#stop {
    border-radius: 4px 8px 8px 4px;
}

button:hover, .textarea-button:hover, input:hover, select:hover {
  background-color: rgba(85, 85, 85, 0.8);
}

.word-display {
    font-size: 3.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    min-height: 50px;
    visibility: hidden;
  }

  .word-counter {
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .blur-background {
    filter: blur(50px);
  }

  #settings-button, #info-button {
    position: fixed;
    right: 20px;
    margin-left: 1rem;
  }

  #settings-button {
    top: 20px;
  }

  #info-button {
    bottom: 10px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: rgba(51, 51, 51, 0.95);
    padding: 20px;
    border: 1px solid #f5f5f5;
    width: 30%;
    min-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
  }
  
  .modal-content button {
    margin-top: 1rem;
    z-index: 3;
    border-radius: 8px;
  }

  .modal-content {
    color: #f5f5f5;
    max-height: 600px;
    overflow-y: auto;
  }
  
  .modal-content select,
  .modal-content input[type="checkbox"] {
    background-color: rgba(85, 85, 85, 0.8);
    font-family: 'Roboto', sans-serif !important;
    border-radius: 8px;
  }

  .modal-content ul,
.modal-content ol {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.modal-content li {
  margin-bottom: 0.5rem;
}

.modal-content {
  padding: 20px 40px;
}


  #backward-button, #forward-button {
    position: fixed;
    opacity: 0;
    border-radius: 4px;
  }

  #backward-button {
    margin-left: 1rem;
  }

  #forward-button {
    margin-right: 1rem;
  }


  @keyframes moving-gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  
  
  